# News Classification

In [1]:
import pandas as pd
dataframe = pd.read_csv('news_data.csv')
dataframe.info()
dataframe.head()

/home/sourish/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/sourish/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 2 columns):
text        200853 non-null object
category    200853 non-null object
dtypes: object(2)
memory usage: 3.1+ MB

                                                text       category
0  There Were 2 Mass Shootings In Texas Last Week...          CRIME
1  Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2  Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3  Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4  Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT

In [5]:
X = dataframe['text']
y = dataframe['category']

In [12]:
labels = list(set(y))

for label in labels:
     print(label, ' ', list(y).count(label))

GREEN   2622
COLLEGE   1144
STYLE & BEAUTY   9649
IMPACT   3459
PARENTING   8677
EDUCATION   1004
SCIENCE   2178
HOME & LIVING   4195
WOMEN   3490
POLITICS   32739
FOOD & DRINK   6226
TECH   2082
WEIRD NEWS   2670
CRIME   3405
FIFTY   1401
ARTS   1509
TRAVEL   9887
HEALTHY LIVING   6694
MEDIA   2815
GOOD NEWS   1398
WORLDPOST   6243
QUEER VOICES   6314
WORLD NEWS   2177
STYLE   2254
ENVIRONMENT   1323
DIVORCE   3426
CULTURE & ARTS   1030
RELIGION   2556
ENTERTAINMENT   16058
ARTS & CULTURE   1339
BLACK VOICES   4528
WELLNESS   17827
BUSINESS   5937
PARENTS   3955
COMEDY   5175
LATINO VOICES   1129
TASTE   2096
WEDDINGS   3651
SPORTS   4884
MONEY   1707

In [18]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
y = labelencoder.fit_transform(y)

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print(X_train.shape)
print(X_test.shape)

(160682,)
(40171,)